<div class="mx-6 my-6">
    <a [routerLink]="['/home']"
    class="mt-2 px-3 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-green-500 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    >
    <i class="fa-solid fa-arrow-left"></i>
    Atrás
</a>
</div>
<div class="bg-slate-200 mx-6 my-6 rounded-md shadow-md">
    @if (favorites.length > 0) {
        @for (movie of favorites; track $index) {
            <h2 class="mx-2 my-2 text-lg font-semibold">{{ movie.title }} <i class="fa-solid fa-star"></i></h2>
            <p class="mx-2 my-2 text-gray-500">{{ movie.overview }}</p>
            <p class="mx-2 my-2 text-gray-700">Rating: {{ movie.vote_average }}</p>
            <button (click)="removeFromFavorites(movie.id)"
                    class="my-2 mx-2 px-3 py-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500"
                    >
                    Remover de favoritos
                    <i class="fa-regular fa-trash-can"></i>
            </button>
    }

   }@else {
    <div class="bg-yellow-100 p-4 rounded-md shadow-md text-center">
        <p>Aún no has agregado tus películas favoritas.</p>
      </div>
   }
</div>
  
  